@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
selection{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	background: #eeeeee;
	overflow-x: hidden;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
header .logo{
	position: relative;
	max-width: 350px;
}
header .filler{
	position: relative;
	max-width: 550px;
	margin-left: 475px;
	margin-top: 150px;
}
header ul{
	position: absolute;
	margin-left: 900px;
	display: flex;
}
header ul li{
	list-style: none;
}
header ul li a{
	display: inline-block;
	color: #333;
	font-weight: 400;
	margin-top: 30px;
	margin-left: 40px;
	text-decoration: none;
	animation: animate 0.5s;
}
.content{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	animation: animate 0.35s;
}
@keyframes animate{
	from{
		transform: rotateX(90deg);
	}
	to{
		transform: rotateX(0deg);
	}
}
.content .textBox{
	position: center;
	max-width: 750px;
	margin-top: 60px;
}
.content .textBox h2{
	color: #333;
	font-size: 4em;
	line-height: 1.4em;
	font-weight: 500;
}
.content .textBox h2 span{
	color: #ffc155;
	font-size: 1.2em;
	font-weight: 900;
}
.content .textBox p{
	color: #333;
	max-width: 700px;
}
.content .textBox a{
	display: inline-block;
	margin-top: 60px;
	margin-left: 220px;
	padding: 8px 20px;
	background: #ffc155;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}
.inputBox{
	position: relative;
	width: 250px;
}
