<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Password Manager</title>
	<link rel="stylesheet" href="/static/style_index.css">
	<link rel="icon" href="/static/favicon.ico">
</head>
<body>
	<selection>
		<header>
			<a href="#"><img src="/static/test.png" class="logo" onclick="window.location.reload();"></a>
			<a href="#"><img src="static/filler.png" class="filler"></a>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="services.html">Our Services</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="login.html">Log In</a></li>
			</ul>
		</header>
		<div class="content">
			<div class="textBox">
				<h2>Password Manager<br><span>Generate</span> and <span>Store<br></span></h2>
				<p>This is a free and open source website to generate as well as store all your passwords at one place. We encrypt all passwords before storing them, so you need not worry about data breaches!</p>
				<a href="generate.html">Generate Password Now!</a>
			</div>
		</div>
	</selection>
</body>
</html>
